nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 100;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: .05rem;
	padding: .2rem 4rem;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
	text-decoration: none;
	color: #7B98AA;
	transition: all .3s ease-in-out;
}

a {
	text-decoration: none;
	color: #7B98AA;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}

.hamburger {
	display: none;
}